<%= form_for(@kisalli) do |f| %>
  <% if @kisalli.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kisalli.errors.count, "error") %> prohibited this kisalli from being saved:</h2>

      <ul>
      <% @kisalli.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nimi" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Opiskelijanumero" %><br />
    <%= f.text_field :opnro %>
  </div>
  <div class="field">
    <%= f.label "Sähköpostiosoite" %><br />
    <%= f.text_field :sposti %>
  </div>
  <div class="field">
    <%= f.label "opintopistemäärä" %><br />
    <%= f.number_field :opintopisteita %>
  </div>
  <div class="field">
    <%= f.label "Opintopisteiden keskiarvo" %><br />
    <%= f.text_field :opintojen_ka %>
  </div>
  <div class="field">
    <%= f.label "Oletko ollut aikaisemmin pajaohjaajana/kisällinä/assarina? Jos niin mitä?" %><br />
    <%= f.text_field :aiemmin %>
  </div>
  <div>
    <%= f.label "Haetko kisalliksi/ohjaajaksi?" %><br>
    <%= f.label "Ohjaajaksi" %>
    <%= f.check_box :ohjaaja %><br>
    <%= f.label "Kisalliksi" %>
    <%= f.check_box :kisalli %><br>
  </div>
  <br>
  <div>
    <%= f.label "Olen suorittanut kurssin Tietorakenteet ja Algoritmit (TIRA)" %>
    <%= f.check_box :tira %>
  <div class="field">
    <%= f.label "Miksi juuri sinä?" %><br />
    <%= f.text_area :miksiSina, :cols => 100 %>
  </div>
  <div class="field">
    <%= f.label "Mitä odotat ohjaamiselta?" %><br />
    <%= f.text_area :mitaOdotat, :cols => 100 %>
  </div>
  <div class="field">
    <%= f.label "Muuta kommentoitavaa" %><br />
    <%= f.text_area :muuta, :cols => 100 %>
  </div>
  <div class="actions">
    <%= f.submit "Tallenna" %>
  </div>
<% end %>
