= form_for @kisalli, :html => { :class => 'form-inline' } do |f|
  - if @kisalli.errors.any?
    #error_explanation
      %h2
        = pluralize(@kisalli.errors.count, "error")
        prohibited this kisalli from being saved:
      %ul
        - @kisalli.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label "Nimi"
    %br/
    = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label "Opiskelijanumero"
    %br/
    = f.text_field :opnro, :class => 'text_field'
  .control-group
    = f.label "Sähköpostiosoite"
    %br/
    = f.text_field :sposti, :class => 'text_field'
  .control-group
    = f.label "opintopistemäärä"
    %br/
    = f.text_field :opintopisteita, :class => 'text_field'
  .control-group
    = f.label "Opintopisteiden keskiarvo"
    %br/
    = f.text_field :opintojen_ka, :class => 'text_field'
  .control-group
    = f.label "Oletko ollut aikaisemmin pajaohjaajana/kisällinä/assarina? Jos niin mitä?"
    %br/
    = f.text_field :aiemmin, :class => 'text_field'
  .control-group
    = f.label "Haetko kisalliksi/ohjaajaksi?"
    %br/
    -# = f.label "Ohjaajaksi"
    -# = f.check_box :ohjaaja, :class => "checkox"
    -# %br/
    -# = f.label "Kisälliksi"
    -# = f.check_box :kisalli, :class => "checkox"
    %br/
  .control-group
    =f.label "Haluatko ohpeen/ohjaan"
    %br/
    = f.label "Kesä OhPeen kisalliksi"
    = f.check_box :ohpe, :class => "checkox"
    %br/
    = f.label "Kesä OhJaan kisalliksi"
    = f.check_box :ohja, :class => "checkox"
    %br/
    %br/
    = f.label "Syksy OhPeen kisalliksi"
    = f.check_box :ohpes, :class => "checkox"
    %br/
    = f.label "Syksy OhJaan kisalliksi"
    = f.check_box :ohjas, :class => "checkox"
    %br/
    %br/
    = f.label "Syksy OhPeen ohjaajaksi"
    = f.check_box :syksyOhpeOhjaaja, :class => "checkox"
    %br/
    = f.label "Syksy OhJaan ohjaajaksi"
    = f.check_box :syksyOhjaOhjaaja, :class => "checkox"
    %br/
  .control-group
    = f.label "Miksi juuri sinä?"
    %br/
    = f.text_area :miksiSina, class: "input-xxlarge", rows: 3
  .control-group
    = f.label "Mitä odotat kisällöinniltä/ohjaamiselta?"
    %br/
    = f.text_area :mitaOdotat, class: "input-xxlarge", rows: 3
  .control-group
    = f.label "Muuta kommentoitavaa"
    %br/
    = f.text_area :muuta, class: "input-xxlarge", rows: 3
  .form-actions
    = f.submit "Tallenna", class: "btn btn-primary"