= form_for @kisalli, :html => { :class => 'form-inline' } do |f|
  - if @kisalli.errors.any?
    #error_explanation
      %h2
        = pluralize(@kisalli.errors.count, "error")
        prohibited this kisalli from being saved:
      %ul
        - @kisalli.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label "Nimi"
    %br/
    = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label "Opiskelijanumero"
    %br/
    = f.text_field :opnro, :class => 'text_field'
  .control-group
    = f.label "Sähköpostiosoite"
    %br/
    = f.text_field :sposti, :class => 'text_field'
  .control-group
    = f.label "opintopistemäärä"
    %br/
    = f.text_field :opintopisteita, :class => 'text_field'
  .control-group
    = f.label "Kurssiarvosanojen keskiarvo"
    %br/
    = f.text_field :opintojen_ka, :class => 'text_field'
  .control-group
    = f.label "Oletko ollut aikaisemmin pajaohjaajana/kisällinä/assarina? Jos niin mitä?"
    %br/
    = f.text_field :aiemmin, :class => 'text_field'
  .control-group
    =f.label "Haluatko:"
    %br/
    = f.check_box :ohpe1, :class => "checkox"
    = f.label "Kesä OhPeen kisalliksi"
    %br/
    = f.check_box :ohja1, :class => "checkox"
    = f.label "Kesä OhJaan kisalliksi"
    %br/
    %br/
    = f.check_box :ohpes, :class => "checkox"
    = f.label "Syksylle 1 periodille kisalliksi"
    %br/
    = f.check_box :ohjas, :class => "checkox"
    = f.label "Syksylle 2 periodille kisalliksi"
    %br/
    %br/
    = f.check_box :syksyOhpeOhjaaja, :class => "checkox"
    = f.label "Syksylle 1 periodille ohjaajaksi"
    %br/
    = f.check_box :syksyOhjaOhjaaja, :class => "checkox"
    = f.label "Syksylle 2 periodille ohjaajaksi"
    %br/
    %br/
    = f.label "Voin ohjata syksyllä kurssia"
    %br/
    %br/
    = f.check_box :ohpe, :class => "checkox"
    = f.label "Ohjelmoinnin perusteet"
    %br/
    = f.check_box :ohja, :class => "checkox"
    = f.label "Ohjelmoinnin jatkokurssi"
    %br/
    = f.check_box :tira, :class => "checkox"
    = f.label "Tietorakenteet kurssin pajatehtäviä"
    %br/
    = f.check_box :tiralaskarit, :class => "checkox"
    = f.label "Tietorakenteet kurssin laskuharjoituksien tekemistä (ei vetää laskareita)"
    
    %br/
    = f.check_box :lapio, :class => "checkox"
    = f.label "Tietokone työvälineenä"
    %br/
    = f.check_box :c, :class => "checkox"
    = f.label "C"
    %br/
    %br/
    = f.label "Voitko tarvittaessa kisällöinnin/ohjauksen ohella kisällöidä/ohjata seuraavia kursseja"
    %br/
    %br/
    = f.check_box :tikape, :class => "checkox"
    = f.label "Tietokantojen perusteet"
    %br/
    = f.check_box :tito, :class => "checkox"
    = f.label "Tietokoneen toiminta"

  .control-group
    = f.label "Miksi juuri sinä?"
    %br/
    = f.text_area :miksiSina, class: "input-xxlarge", rows: 3
  .control-group
    = f.label "Mitä odotat kisällöinniltä/ohjaamiselta?"
    %br/
    = f.text_area :mitaOdotat, class: "input-xxlarge", rows: 3
  .control-group
    = f.label "Muuta kommentoitavaa"
    %br/
    = f.text_area :muuta, class: "input-xxlarge", rows: 3
  .form-actions
    = f.submit "Tallenna", class: "btn btn-primary"
