-#<h1>Listing kisallis</h1>
-#<p>Filtteröi tuloksia: </p>
-#<%= form_tag kisallis_path, :method => :get do  %>
-#    <%= label  :kisalli, 'Kisalli' %>
-#    <%= check_box_tag :kisalli, '1',params[:kisalli] %>
-#
-#    <%= label  :ohjaaja, 'ohjaaja' %>
-#    <%= check_box_tag :ohjaaja, '1', params[:ohjaaja] %>
-#
-#    <%= label  :tira, 'tira' %>
-#    <%= check_box_tag :tira, '1', params[:tira] %>
-#
-#    <%= label :ka, 'Keskiarvo vähintään' %>
-#    <%= text_field_tag :ka, params[:ka] %>
-#
-#    <%= submit_tag 'Refresh' %>
-#
-#<% end %>
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= id
      %th= Nimi
      %th= Opiskelijanumero
      %th= Sähkö
      %th= opintopisteita
      %th= miksi
      %th= Kurssiarvosanojen keskiarvo
      %th= Aiemmin jossain opetustehtävässä
      %th= Miksi juuri sinä?
      %th= Mitä odotat
      %th= Muuta/Kommentteja
      %th= LempiOlut :P
      %th= created_at
      %th= updated_at
      %th= ohjaaja OLD
      %th= kisalli OLD 
      %th= TiraPaja
      %th= deprecated OLD
      %th= Syksy ohpe
      %th= Syksy ohja
      %th= Kisalli 1. periodilla
      %th= Kisalli 2. periodilla
      %th= key
      %th= Ohjaaja 2. periodilla
      %th= Ohjaaja 2. periodilla
      %th= Lapio
      %th= C
      %th= KesaOhpe
      %th= KesaOhja
      %th= TiKaPe
      %th= TiTo
      %th= TiRaLaskarit
      -# Kisalli.attribute_names.each do |attr|
      -#  %th= attr
  %tbody
    - @kisallis.each do |kisalli|
      %tr
        - kisalli.attributes.each do |attr|
          %td= attr


= link_to 'New Kisalli', new_kisalli_path
