<h1>Listing kisallis</h1>
<p>Filtteröi tuloksia: </p>
<%= form_tag kisallis_path, :method => :get do  %>
    <%= label  :kisalli, 'Kisalli' %>
    <%= check_box_tag :kisalli, '1',params[:kisalli] %>

    <%= label  :ohjaaja, 'ohjaaja' %>
    <%= check_box_tag :ohjaaja, '1', params[:ohjaaja] %>

    <%= label  :tira, 'tira' %>
    <%= check_box_tag :tira, '1', params[:tira] %>

    <%= label :ka, 'Keskiarvo vähintään' %>
    <%= text_field_tag :ka, params[:ka] %>

    <%= submit_tag 'Refresh' %>

<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Opnro</th>
    <th>Sposti</th>
    <th>Opintopisteita</th>
    <th>Miksi</th>
    <th>Opintojen ka</th>
    <th>Aiemmin</th>
    <th>Miksisina</th>
    <th>Mitaodotat</th>
    <th>Muuta</th>
    <th>TIRA?</th>
    <th>Ohjaajaksi?</th>
    <th>Kisalliksi?</th>
    <th>K-OhPeen</th>
    <th>K-OhJaan</th>
    <th>S-OhPeen kisalliksi</th>
    <th>S-OhJaan kisalliksi</th>
    <th>S-OhPeen ohjaajaksi</th>
    <th>S-OhJaan ohjaajaksi</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kisallis.each do |kisalli| %>
  <tr>
    <td><%= kisalli.name %></td>
    <td><%= kisalli.opnro %></td>
    <td><%= kisalli.sposti %></td>
    <td><%= kisalli.opintopisteita %></td>
    <td><%= kisalli.miksi %></td>
    <td><%= kisalli.opintojen_ka %></td>
    <td><%= kisalli.aiemmin %></td>
    <td><%= kisalli.miksiSina %></td>
    <td><%= kisalli.mitaOdotat %></td>
    <td><%= kisalli.muuta %></td>
    <td><%= kisalli.tira %></td>
    <td><%= kisalli.ohjaaja %></td>
    <td><%= kisalli.kisalli %></td>
    <td><%= kisalli.ohpe %></td>
    <td><%= kisalli.ohja %></td>
    <td><%= kisalli.ohpes %></td>
    <td><%= kisalli.ohjas %></td>
    <td><%= kisalli.syksyOhpeOhjaaja %></td>
    <td><%= kisalli.syksyOhjaOhjaaja %></td>
    <td><%= link_to 'Show', kisalli_path(kisalli.key) %></td>
    <td><%= link_to 'Edit', edit_kisalli_path(kisalli.key) %></td>
    <td><%= link_to 'Destroy', kisalli.key, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kisalli', new_kisalli_path %>
