<p id="notice"><%= notice %></p>

<p>
  <b>Nimi:</b>
  <%= @kisalli.name %>
</p>

<p>
  <b>Opintopisteitä:</b>
  <%= @kisalli.opnro %>
</p>

<p>
  <b>Sähköpostiosoite:</b>
  <%= @kisalli.sposti %>
</p>

<p>
  <b>Opintopisteitä:</b>
  <%= @kisalli.opintopisteita %>
</p>

<p>
  <b>Opintojen keskiarvo:</b>
  <%= @kisalli.opintojen_ka %>
</p>

<p>
  <b>Minä aiemmin:</b>
  <%= @kisalli.aiemmin %>
</p>

<p>
  <b>Miksi sinä?</b>
  <%= @kisalli.miksiSina %>
</p>

<p>
  <b>Mitä odotat:</b>
  <%= @kisalli.mitaOdotat %>
</p>

<p>
  <b>Muuta:</b>
  <%= @kisalli.muuta %>
</p>

<p>
  <b>Ohjaajaksi?</b>
  <%= @kisalli.ohjaaja %>
</p>
<p>
  <b>Kisalliski</b>
  <%= @kisalli.kisalli %>
</p>
