<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @kisalli.name %>
</p>

<p>
  <b>Opnro:</b>
  <%= @kisalli.opnro %>
</p>

<p>
  <b>Sposti:</b>
  <%= @kisalli.sposti %>
</p>

<p>
  <b>Opintopisteita:</b>
  <%= @kisalli.opintopisteita %>
</p>

<p>
  <b>Miksi:</b>
  <%= @kisalli.miksi %>
</p>

<p>
  <b>Opintojen ka:</b>
  <%= @kisalli.opintojen_ka %>
</p>

<p>
  <b>Aiemmin:</b>
  <%= @kisalli.aiemmin %>
</p>

<p>
  <b>Miksisina:</b>
  <%= @kisalli.miksiSina %>
</p>

<p>
  <b>Mitaodotat:</b>
  <%= @kisalli.mitaOdotat %>
</p>

<p>
  <b>Muuta:</b>
  <%= @kisalli.muuta %>
</p>

<p>
  <b>Ohjaajaksi?</b>
  <%= @kisalli.ohjaaja %>
</p>
<p>
  <b>Kisalliski</b>
  <%= @kisalli.kisalli %>
</p>



<%= link_to 'Edit', edit_kisalli_path(@kisalli) %> |
<%= link_to 'Back', kisallis_path %>
