= form_for @jatko, :html => { :class => 'form-inline' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :nick, :class => 'control-label'
    .controls
      = f.text_field :nick, :class => 'text_field'
  .control-group
    .controls
      = f.radio_button :continue, "yes"
      = f.label "Jatkan", :class => 'text_field'
    .controls
      = f.radio_button :continue, "no"
      = f.label "En jatka", :class => 'text_field'

  .form-actions
    = f.submit "Tallenna", :class => 'btn btn-primary'
    = link_to 'Peruuta', new_jatko_path, :class => 'btn'
