- model_class = Answer
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @answer.name
%p
  %strong= model_class.human_attribute_name(:nick) + ':'
  %br
  = @answer.nick
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @answer.email
%p
  %strong= model_class.human_attribute_name(:other) + ':'
  %br
  = @answer.other
